<!DOCTYPE html>
<html>
  <head>
    <title>EmbarcaProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <main>
      <div class="nav-box">
        <div class="nav-items">
          <%= link_to I18n.t('activerecord.models.state.other'), root_path, class: 'nav-button' %>
          <%= link_to I18n.t('activerecord.models.city.other'), cities_path, class: 'nav-button' %>
        </div>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
